body {
    margin: 0;
    background: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 11px;
    color: black;
}

a:link {color: blue;}
a:visited {color: #900;}
a:hover {color: #000;}
a:active{text-decoration: none;}



#img {
    border: 0;
}
#wrapper {
    width: 920px;
    margin: 0 auto;
}
#top {
    background-image: url("../gfx/top.jpg");
    height: 121px;
    position: relative;
    border-top: 5px  solid;
}
#logo h1 {
    background: url("../gfx/logo.png") no-repeat;
    height: 50px;
    position: absolute;
    width: 150px;
    top: 45px;
}
#logo h1 a {
    display: block;
    text-indent: -999px;
}
#nav {
    background: plum;
    border-top: 1px #ccc solid;
}
#nav ul {
    margin: 0;
    padding: 10px;
}
#nav ul li {
    display: inline;
    list-style: none;
    padding: 10px;
}
#nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;

}
#numer {
    margin: -24px 13px 12px 0;
    text-align: right;
    color: #fff;
    background: url("../gfx/telefon.gif") right 50% no-repeat;
    padding-right: 30px;

}
#content {
    background-color: bisque;
    padding-top: 1px;
    float: left;
    overflow: auto;
    width: 100%;
}
#content p {
    margin: 0;
    padding: 1em;
    line-height: 1.4;
    letter-spacing: 1px;
}
#content h3 {
    margin: 1em;
    font-size: 1.1em;
}
#content h2 {
    display: block;
    width: 300px;
    font-size: 1.3em;
    padding: 1em;
    margin: 2em 0 1.5em 0;
}
#content #c1 {
    width: 600px;
    float: left;
}
#content #obrazki {
    padding: 1em;
    text-align: center;
}
#content #obrazki img {
    padding: 0 1em;
}
ul{
    list-style-image: url("../gfx/arrow.gif");
    line-height: 1.4;
}
#wrapper {
    width: 920px;
    margin: 0 auto;
}
.lista-linkow li {
    margin: 10px;
    font-weight: bold;
    font-size: 2.5em;
    text-align: center;

}
.lista-linkow {
    list-style-image: none;
    list-style-type: none;
}
#content #c2 h2 {
    margin: 0;
    padding: 1em;
    font-size: 1.1em;
    display: block;
    background-image: none;
    border-left: 3px #999 solid;
    width: 200px;
}
#content #c2 {
    width: 300px;
    float: right;
}
#content #c2 #c2-wrapper {
    background: bisque;
    margin-left: 23px;
}

#footer {
    background: #343434;
    color: #fff;
    float: left;
    width: 100%;
    }
#copyright , #footer-menu {
    width: 300px;
    padding: 10px;
}

#copyright {
    float: left;
}

#footer-menu {
    float: right;
    text-align: right;
    }

#footer-menu a {
    color: green;
    padding: 0 5px;
}
#content h3 {
    color: black;
    font-style: italic;
}
#content h2 {
    color: red;
    font-style:inherit;
}
#content #c1 form {
    text-align: center;
    font-style: italic;
    font-size: 1.2em;
    
}
#content #c1 h1 {
    color: darkred;
}
#content #c1 {
    text-align: left;
}
body {
    background: url(../gfx/tlo.jpg);
}




